<launch>
  <arg name="publisherFrequency" value="2" />
  <node
    pkg="beginner_tutorials"
    type="talker"
    name="talker"
    required = "true"
    output = "screen"
    args="$(arg publisherFrequency)"
    launch-prefix = "xterm -e"
  />
  <node
    pkg="beginner_tutorials"
    type="listener"
    name="listener"
    output = "screen"
    launch-prefix = "xterm -e"
  />
  <node
    pkg="beginner_tutorials"
    type="Client"
    name="Client"
    output = "screen"
    launch-prefix = "xterm -e"
  />
</launch>
